.container {
	border: 8px solid rgb(123, 201, 238);
}

.logo {
    display: flexbox;
}

.navbar {
    display: block;
}

.font-small:hover {
	color: #DEEBFF;
    border-bottom: 2px solid #0065FC;
	margin-top: 0px;
}

.navbar .navbar-items a {
	display: block;
	padding: 15px;
    border-bottom: 2px solid #F2F2F2;
}

.navbar-items {
    display: block;
}

.nav-heading-split {
	margin-right: 0;
}

.search-form-desktop {
	display: none;
}

.search-form-mobile {
	display: block;
}

.accomm-pop {
	display: block;
}